@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
a {
   text-decoration: none;
   color: #000;
}
li {
   list-style: none;
}
<<<<<<< HEAD
body {
   background-color: #bebaba;
}
=======

>>>>>>> c8125c8310c2586eb044b7c221baf6a387ea4494
